/**************************************
 GENERAL
***************************************/

body{
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#eff4fb+0,e9eef7+40,dde6f5+100 */
background: rgb(239,244,251); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(239,244,251,1) 0%, rgba(233,238,247,1) 40%, rgba(221,230,245,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(239,244,251,1) 0%,rgba(233,238,247,1) 40%,rgba(221,230,245,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(239,244,251,1) 0%,rgba(233,238,247,1) 40%,rgba(221,230,245,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eff4fb', endColorstr='#dde6f5',GradientType=0 ); /* IE6-9 */
}

h1 {
  text-align:center;
  margin-bottom: 25px;
  font-size: 40px;
}

/**************************************
ADD & UPDATE COLLECTIBLE HTML
***************************************/

#add, #update_add {
  font-weight: bold;
}

.somepadding {
  padding: 0 !important;
  margin: 0 !important;
}

.nopadding{
  padding: 0 !important;
  margin: 0 !important;
}

.keyword-control{
  margin-top: 3px;
}

#age, #update_age {
  padding-right: 5px;
}

#catalogdId, #update_catalogId {
  padding-left: 5px;
}

#color-option1{
  background-color: black;
  color: white;
}
#color-option2{
  background-color: blue;
  color: white;
}
#color-option3{
  background-color: green;
  color: white;
}
#color-option4{
  background-color: orange;
  color: white;
}
#color-option5{
  background-color: red;
  color: white;
}
#color-option6{
  background-color: violet;
  color: black;
}
#color-option7{
  background-color: yellow;
  color: black;
}
#color-option8{
  background-color: white;
  color: black;
}

/**************************************
ADD COLLECTIBLE HTML
***************************************/
#top {
  overflow: auto;
}

#submit {
  max-width: 97.8%;
  margin-left: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
}

/**************************************
COLLECTIBLE INDEX
***************************************/

#table{
  max-width: 95%;
  margin: 10px 2.5% 0 2.5%;
}

/**************************************
 UPDATE COLLECTIBLE MODAL
***************************************/

#updateItem{
  max-width: 97.8%;
  margin-left: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
}

#modalButton {
  margin-top: 10px;
}
