#add, #update_add {
  font-weight: bold;
}

#add {
    margin-bottom: 10px;
}

#update_add {
  margin: 0 10px 0 10px;
}

#update_top{
  margin: 25px 0 25px 0;
}

#update_agespan {
  margin-right: 30px;
}

#update_type {
  margin-right: 60px;
}

#update_condition{
  margin-right: 60px;
}

#update_name{
  padding-right: 39.5%;
}

#top {
  overflow: auto;
}
#table{
  max-width: 95%;
  margin: 10px 2.5% 0 2.5%;
}

#type {
  margin-right: 45px;
}

#color {
  margin-right: 45px;
  padding-right: 45px;
}

h1 {
  text-align:center;
  margin-bottom: 25px;
}

#keyword1, #keyword2, #keyword3 {
  margin: auto;
}

#agespan {
  padding-right: 15px;
  margin-right: 17px;
}

#middle {
  margin-bottom: -5px;

}

#submit {
  margin-top: 10px;
}

#name {
  padding-right: 55%;
  margin-bottom: 15px;
}

#middle_top {
  margin-bottom: -5px;
  padding:0px;
}
